# Preprocess the raw survey data

Saves a cleaned version of the survey data to be used in analysis and that can be publicly published (is IRB compliant).

Keeps only data from participants who:

- Have valid Prolific IDs
- Completed the survey
- Passed ALL attention checks

Keeps only the data columns necessary for analysis. 
Drops:
- Prolific ID (privacy risk)
- Unneeded qualtrics metadata

Saves fields metadata to a separate file and drops this metadata from the saved cleaned data.

In [108]:
import numpy as np
import pandas as pd

raw_data_filepath = '../data/sample-raw.csv'
cleaned_data_filepath = '../data/sample-preprocessed.csv'
fields_filepath = '../data/fields.csv'

In [109]:
df = pd.read_csv(raw_data_filepath, dtype='str')
print(df.shape)

(1611, 850)

Can immediately drop the columns never used that were added by Qualtrics.

In [110]:
drop_cols = [
    'StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
    'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 
    'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 
    'UserLanguage',
    # use PROLIFIC_PID instead which is set as embedded data via a URL parameter
    'Q_PROLIFIC_PID',
]
df = df.drop(drop_cols, axis=1)

In [111]:
non_choice_fields = [f for f in df.columns if not (f.startswith('CHOICE_'))]
print(list(non_choice_fields))
df[non_choice_fields].drop([1]).drop(['PROLIFIC_PID'], axis=1).head()

['Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'Q-attn-number-21', 'Q_online_shopping', 'Q_takeout_food', 'Q_online_groceries', 'Q_habits_attn_check', 'Q_v_0_why_no', 'Q_v_0_why_no_4_TEXT', 'Q_v_1', 'Q_v_1_why_no', 'Q_v_1_why_no_4_TEXT', 'Q_v_2', 'Q_v_2_why_no', 'Q_v_2_why_no_4_TEXT', 'Q_v_attn_check_1', 'Q_gender', 'Q_age', 'Q_race', 'Q_income', 'Q_urban_rural', 'Q_residence_type', 'Q_residence_type_3_TEXT', 'Q_state', 'Q_comments', 'PROLIFIC_PID', 'STUDY_ID', 'online_shopping', 'takeout_food_delivery', 'online_groceries', 'prescription_medications_delivery', 'last_minute_groceries_delivery', 'liquor_store_delivery', 'questions_asked']

,Duration (in seconds),Finished,RecordedDate,ResponseId,Q-attn-number-21,Q_online_shopping,Q_takeout_food,Q_online_groceries,Q_habits_attn_check,Q_v_0_why_no,...,Q_state,Q_comments,STUDY_ID,online_shopping,takeout_food_delivery,online_groceries,prescription_medications_delivery,last_minute_groceries_delivery,liquor_store_delivery,questions_asked
0,Duration (in seconds),Finished,Recorded Date,Response ID,Please select the number shown.,How often (on average) do you make online shop...,How often (on average) do you have take-out fo...,How often (on average) do you purchase your gr...,How closely are you paying attention? This is ...,What are your reasons for never ordering t...,...,"50 States, D.C. and Puerto Rico",Thank you for taking the survey. When you cont...,STUDY_ID,online_shopping,takeout_food_delivery,online_groceries,prescription_medications_delivery,last_minute_groceries_delivery,liquor_store_delivery,questions_asked
2,128,1,2022-09-12 08:14:07,R_2chgn4rkY4fPpOO,21,3,3,3,5,NaN,...,NaN,NaN,62facea5645985d77801fd22,True,True,True,True,True,True,NaN
3,91,1,2022-09-12 08:16:36,R_237SFIQ3gnVTXpg,21,5,2,5,"1,2,3,4,5",NaN,...,22,NaN,62facea5645985d77801fd22,True,True,False,True,False,False,NaN
4,262,1,2022-09-12 08:25:22,R_2zUNSdeQI7uzbbu,21,4,2,5,"1,2,3,4,5",NaN,...,22,alex test -- take-out food only,62facea5645985d77801fd22,True,True,False,False,False,False,12
5,129,1,2022-09-12 08:33:47,R_3DbUHlWnnu89bWC,21,5,1,5,"1,2,3,4,5",NaN,...,22,geoffrey test - takeout only,62facea5645985d77801fd22,True,True,False,False,False,False,12

Save the fields metadata (rows 0,1) in case someone wants them for easy reference later. 

Do not save the choice Q's in the fields data.

Then drop metadata from the preprocessed data.

In [112]:
fields_df = df[non_choice_fields].loc[0].rename('field').to_frame()
fields_df

                                                                               field
Duration (in seconds)                                          Duration (in seconds)
Finished                                                                    Finished
RecordedDate                                                           Recorded Date
ResponseId                                                               Response ID
Q-attn-number-21                                     Please select the number shown.
Q_online_shopping                  How often (on average) do you make online shop...
Q_takeout_food                     How often (on average) do you have take-out fo...
Q_online_groceries                 How often (on average) do you purchase your gr...
Q_habits_attn_check                How closely are you paying attention? This is ...
Q_v_0_why_no                       What are your reasons for never ordering     t...
Q_v_0_why_no_4_TEXT                What are your reasons for never ordering     t...
Q_v_1                              Suppose there is a company that specializes in...
Q_v_1_why_no                       What are your reasons for never ordering     m...
Q_v_1_why_no_4_TEXT                What are your reasons for never ordering     m...
Q_v_2                              Would you ever order items from a liquor store...
Q_v_2_why_no                       What are your reasons for never ordering     p...
Q_v_2_why_no_4_TEXT                What are your reasons for never ordering     p...
Q_v_attn_check_1                   Suppose this is an attention check. Given this...
Q_gender                                                        What is your gender?
Q_age                                                              What is your age?
Q_race                             Choose one or more races that you consider you...
Q_income                           What was your entire household income in the p...
Q_urban_rural                                   Which best describes where you live?
Q_residence_type                   What type of residence do you live in? - Selec...
Q_residence_type_3_TEXT            What type of residence do you live in? - Other...
Q_state                                              50 States, D.C. and Puerto Rico
Q_comments                         Thank you for taking the survey. When you cont...
PROLIFIC_PID                                                            PROLIFIC_PID
STUDY_ID                                                                    STUDY_ID
online_shopping                                                      online_shopping
takeout_food_delivery                                          takeout_food_delivery
online_groceries                                                    online_groceries
prescription_medications_delivery                  prescription_medications_delivery
last_minute_groceries_delivery                        last_minute_groceries_delivery
liquor_store_delivery                                          liquor_store_delivery
questions_asked                                                      questions_asked

In [113]:
print('saving fields to file %s' % fields_filepath)
fields_df.to_csv(fields_filepath)

saving fields to file ../data/fields.csv

Drop participants' data based on exclusion criteria.

In [114]:
df = df.drop([0,1])
starting_respondent_N = df['ResponseId'].nunique()
print('N=%s total responses before data cleaning' % starting_respondent_N)
df.drop(['PROLIFIC_PID'], axis=1).head(3)

N=1609 total responses before data cleaning

,Duration (in seconds),Finished,RecordedDate,ResponseId,Q-attn-number-21,Q_online_shopping,Q_takeout_food,Q_online_groceries,Q_habits_attn_check,Q_v_0_why_no,...,Q_state,Q_comments,STUDY_ID,online_shopping,takeout_food_delivery,online_groceries,prescription_medications_delivery,last_minute_groceries_delivery,liquor_store_delivery,questions_asked
2,128,1,2022-09-12 08:14:07,R_2chgn4rkY4fPpOO,21,3,3,3,5,NaN,...,NaN,NaN,62facea5645985d77801fd22,True,True,True,True,True,True,NaN
3,91,1,2022-09-12 08:16:36,R_237SFIQ3gnVTXpg,21,5,2,5,"1,2,3,4,5",NaN,...,22,NaN,62facea5645985d77801fd22,True,True,False,True,False,False,NaN
4,262,1,2022-09-12 08:25:22,R_2zUNSdeQI7uzbbu,21,4,2,5,"1,2,3,4,5",NaN,...,22,alex test -- take-out food only,62facea5645985d77801fd22,True,True,False,False,False,False,12

In [115]:
TEST_PROLIFIC_IDS = [
    '62a2a94d2c2d3cac1cdb636b',
    '62fac4a55e4fc878ec1b0c76',
]
# only include responses completed by Prolific participants
N_PROLIFIC_PID_na = len(df[df['PROLIFIC_PID'].isna()])
print('dropping %s non PROLIFIC responses' % N_PROLIFIC_PID_na)
df = df[df['PROLIFIC_PID'].notna()]
N_uncompleted = len(df[df['Finished'] != '1'])
df = df[df['Finished'] == '1']
print('dropping %s incomplete responses' % N_uncompleted)
# Remove the test responses filled out by us
N_test = len(df[df['PROLIFIC_PID'].isin(TEST_PROLIFIC_IDS)])
print('dropping %s test responses' % N_test)
df = df[~df['PROLIFIC_PID'].isin(TEST_PROLIFIC_IDS)]
print('%s completed responses' % len(df))

dropping 0 non PROLIFIC responses
dropping 2 incomplete responses
dropping 9 test responses
1598 completed responses

In [116]:
def passed_attn_checks(row):
    try:
        if row['Q-attn-number-21'] != '21':
            print('%s : %s %s' % (row['PROLIFIC_PID'], row['ResponseId'], 'failed Q-attn-number-21'))
            return False
        if (str(row['Q_habits_attn_check']) == 'nan') or (len(row['Q_habits_attn_check'].split(',')) != 5):
            print('%s : %s %s' % (row['PROLIFIC_PID'], row['ResponseId'], 'failed Q_habits_attn_check'))
            return False
        if row['Q_v_attn_check_1'] in ['1','2']: # only selected 1 option - either 1 or 2
            print('%s : %s %s' % (row['PROLIFIC_PID'], row['ResponseId'], 'failed Q_v_attn_check_1'))
            return False
    except Exception as e:
        print('exception for %s : %s' % (row['PROLIFIC_PID'], row['ResponseId']))
        raise e
    return True

In [117]:
df['passed_attn_checks'] = df.apply(passed_attn_checks, axis=1)
passed_attn_checks_ResponseId_list = list(df[df.passed_attn_checks == True].ResponseId)
print('%s/%s respondents passed all attention checks' % (len(passed_attn_checks_ResponseId_list), len(df)))
# passed_attn_checks_ResponseId_list

5a8599792a842c0001fcbacb : R_25QqBuJ38NHBT9s failed Q-attn-number-21
5c832bd24b0de2001b3510fc : R_1PdBN81pQZz10MZ failed Q_v_attn_check_1
5f490d10022f3f2e8f33cc9a : R_1jp41iLW1oDOfxM failed Q_v_attn_check_1
610f7619672322f2c0c98396 : R_BD6TwN3suFU9hjb failed Q_v_attn_check_1
5eee7448b465303350093b53 : R_6XslJdUp7GN3B85 failed Q_v_attn_check_1
6010f9387969064a53ea6b69 : R_3g7uNDwWjSesDES failed Q_v_attn_check_1
5786d6076475d400015a959e : R_PUGtyOIfzxv8KoF failed Q-attn-number-21
631bcfaa7faf35d3abb91cbc : R_2Vr9PYvpwZPWJYT failed Q_v_attn_check_1
5bc11bbbc11e1200018dfa3b : R_XG1xQ7XxoDMEjIJ failed Q_v_attn_check_1
60fdc45f0ae9e5d153012de9 : R_2f3vUv8pwovPJuS failed Q_v_attn_check_1
6313bca352b1b9dacd2446e5 : R_1da7BFtzV6chf9W failed Q_v_attn_check_1
60ddff2cd6cb7a81cdfb6a00 : R_2t3szyR8tQ7NYJ3 failed Q_v_attn_check_1
5e7b815adb5aba05af6e6cc7 : R_wN48C2doNom9QOZ failed Q_v_attn_check_1
5e833e342598d4053db08f1f : R_25ZSN2jFhmRF7gq failed Q_habits_attn_check
61531681e3a3743f9ce59135 : R_1cY4f78BgR6WH3U failed Q_v_attn_check_1
61083fca0f3d3cabc65ee16f : R_24Gk2qMPxVhIwQG failed Q_v_attn_check_1
5e521a1083e2e42365b3bd67 : R_28NFPdGu9cbIKqa failed Q_v_attn_check_1
5c6ac9bc1d9ff70001ab2ee5 : R_eRk4pJwBewHmtRT failed Q-attn-number-21
611189c22603acc9bfc10e2d : R_1jMITa4KsxEq9Jx failed Q_v_attn_check_1
612e7ef85edba8d26ef96c99 : R_1OQ4bHhzTxcc2Vj failed Q_habits_attn_check
6108ce8402170404dfa30946 : R_31SHnn8Qdag1Pf3 failed Q-attn-number-21
5c0fa2324324e80001c951c9 : R_r2BDGQrKbGOeubL failed Q_v_attn_check_1
5be3237a3193e90001798302 : R_2EiTxA84Zsn9wfS failed Q_v_attn_check_1
5e10f9d02d21857cd4d266b8 : R_27BQXN90zhWpKlz failed Q-attn-number-21
60b7c559803665ec56ca8b2c : R_3O6wX9Z5m1XPI1n failed Q_v_attn_check_1
62bdb88d3de9f262dd8b6e21 : R_T6gNj3edt9JwE5X failed Q_v_attn_check_1
61140fbc763ecf6f2de71183 : R_33eUuAAw4GqcHwT failed Q_v_attn_check_1
60f1d81960d9ca3a725d65f6 : R_1dmNROlp38EO0Z7 failed Q_v_attn_check_1
5ee64e85c682de3a880579c6 : R_ByM3CE9KgFJAMxP failed Q_v_attn_check_1
60f8adb9a315f316c3aee425 : R_2fx46BC5FJhz2ni failed Q_v_attn_check_1
5f5d348826f900576f6c95f3 : R_3JJViDMGptcxYcg failed Q_v_attn_check_1
62e0dcc18007e8ba41769dd8 : R_oXnjky7EkdyNWHT failed Q_v_attn_check_1
5ff36928b82e4645fcbc7f10 : R_1F9AhpNUXd5KkWB failed Q_v_attn_check_1
5afe338a4256e90001d5c64b : R_296w5URHj9gXt2g failed Q_v_attn_check_1
5c6e31540506a200015c3cc5 : R_8CdsCePEXk8RpsZ failed Q_v_attn_check_1
60fd0638ea398c6e93d6ba62 : R_2X5v5UEbWBG6Gs0 failed Q_v_attn_check_1
60fdc73e9fc2f113dc1ff96d : R_25zTyzKjf4NVPpY failed Q_v_attn_check_1
60e792f25e9ab875f9605cf5 : R_1kFCuUN9nd0oIN3 failed Q_v_attn_check_1
6172b8bcb0ca871db44b71c9 : R_2SJgJh8Sw3w4n14 failed Q_v_attn_check_1
601c2c63f899976cb35c1269 : R_1DpctOgHINoCU2Y failed Q-attn-number-21
5e7e2df818ff3207c8846b93 : R_XSyBgOFuo9WPf1v failed Q_habits_attn_check
6153fbe07b967391f75fce87 : R_2pXYP9y3QkULSkR failed Q_v_attn_check_1
62e31a9ce71b2e2da6fafbd4 : R_1mJFsASL5qmr9yh failed Q_v_attn_check_1
62f90c79da5c7deee5339c22 : R_22WDCbBbp6wzTOC failed Q_v_attn_check_1
62ecb2993d7ecd89154af5d4 : R_1jE9OvO2Htzyd3G failed Q_v_attn_check_1
5d338bb02381b7001761694e : R_2fChCYTanAFY71e failed Q_v_attn_check_1
5eea18fc3e537f0c21f2e9df : R_3GkODGvPCzd0j7k failed Q_v_attn_check_1
5d61a3a5f923dd0001d0370f : R_ZKoPV88yoMksuDT failed Q_habits_attn_check
6268a3f5379f921275a284f1 : R_1pDWVhd0SZFYPCz failed Q_v_attn_check_1
610c8dcba54f40dae1c50278 : R_2uHV0LkS9eDT27A failed Q_v_attn_check_1
5f9d6c8b87770828f1f08fbe : R_25zrMIk8UziY4cS failed Q_v_attn_check_1
5e3cc28a194a520c0c128f13 : R_3rOhwItOA8S89XB failed Q_v_attn_check_1
60d22b95ea12a89273fde27d : R_3KZaT2ltMRHoaMj failed Q_v_attn_check_1
60c80a0fb4b86678ad903cc1 : R_vwSiPlWRFwUthbX failed Q_v_attn_check_1
5c12b0ba17e18d0001e7629e : R_2XiLRSXizUm6iqD failed Q_v_attn_check_1
60051d10e63710373daee6e7 : R_DiuzNQ8AOgPF0FH failed Q_v_attn_check_1
60e4a68fea6bb239a06fc072 : R_2ErUR3uhwtLwSwG failed Q_v_attn_check_1
615f54a5141128cf81b7e857 : R_3nVQMn2WqohjXKL failed Q_v_attn_check_1
604bfe99dcaa286218d25fca : R_3GwcPspvuObTvWx failed Q_v_attn_check_1
5da7825f634607001172ca6a : R_1PcRYXvqWNFFLjF failed Q-attn-number-21
5dcccec0092079953154f997 : R_2S7zChQurJcYpEr failed Q_v_attn_check_1
6118db4c1a46f468a792b912 : R_3NFgqu50nwcLqTz failed Q_v_attn_check_1
5ffe7a7aaacffc4ee5e6ef6b : R_wYTtNSiK1Jgxq25 failed Q_habits_attn_check
58dfaf76ba8a05000109eb66 : R_10GjUbdLgqEnKvm failed Q_v_attn_check_1
57334d427d01ed00098e8e69 : R_1LpNWuBvmc3fyRB failed Q_v_attn_check_1
5d5b0dd7c032a2001ad7cf5d : R_2aPjpWozvW74PVs failed Q_v_attn_check_1
62f875cb0bd095fcf778dd3a : R_2EGii9B7fTNIaLO failed Q_v_attn_check_1
60430fc782b5752a7ae8d797 : R_qI9LSU1d7o4V7vH failed Q_v_attn_check_1
62f690f77c6fe10beb13d7b9 : R_D7TkGjAC3rnXuNP failed Q_v_attn_check_1
5fd8e27b6feb8e0d22eb3bd0 : R_cNHfVY16zf4iSWd failed Q_v_attn_check_1
5dbb9407e0a6e81863526af7 : R_12ltFrxVCTnblk5 failed Q_v_attn_check_1
60fcb2b45504d8488ab13968 : R_3qJyFUxKcyKGCcc failed Q_v_attn_check_1
5cd1a619240bc80013310b4e : R_1IB3HWEoyBnE1ea failed Q_v_attn_check_1
5c022a94d183df000141f1e2 : R_3shnL3a4DWixVAZ failed Q_v_attn_check_1
62348c41368404b2ade8312b : R_27BExLCthLZHNxd failed Q_habits_attn_check
5e1f8fbfb202032c463f3e06 : R_3g8eaXG18n8CjFu failed Q-attn-number-21
629e112d75f3665c8362ab6f : R_SVhI6IyFD1ap1XX failed Q_v_attn_check_1
5beccd423b6489000156596f : R_2bHkBv5UalV1Zdg failed Q_v_attn_check_1
5fefefa4c9707d3516361c9c : R_3Jhf9kHakiezRJL failed Q_v_attn_check_1
5eadd3cf13f83a483b5b8c04 : R_2AWgr06A2rNEj5E failed Q_v_attn_check_1
5b883986f249560001686872 : R_dnegp2DfS8rXCgN failed Q_habits_attn_check
5de985cf1be52f0a75357332 : R_2wuj45rRudHlL7v failed Q_v_attn_check_1
5df416a57bf5722f9a501255 : R_3ReZMa54tKgL36z failed Q_v_attn_check_1
58642f4de16d530001b34622 : R_2aVmuumf1QYYOD7 failed Q_v_attn_check_1
6077cb38de8f5c783d413450 : R_33a0ovEhYIGSHge failed Q_v_attn_check_1
614dd661c1fb4b13a7e99d64 : R_1q2LdbGVLDtUcAh failed Q_v_attn_check_1
614f75c032f05a135099017b : R_27Im8fn2RgWuClK failed Q_v_attn_check_1
609f58e8af0f5f3acedd9806 : R_1f3Dc7CmrJIycaC failed Q_v_attn_check_1
5c6ef14c2cd3cb0001fadd0e : R_3qsRUtg0PeeEEyu failed Q_v_attn_check_1
614f59b138dc25a862faa6a7 : R_sor49mumI4qGHFn failed Q_v_attn_check_1
5a7618b18fe2dc0001057243 : R_1DAsp6k09FAx1Xu failed Q_v_attn_check_1
6108708cc133f82c35c00f12 : R_3CDwX3u29og851M failed Q_v_attn_check_1
5e3dbf3d216cf7000cfa0d29 : R_bClJnrz5eGOTiFz failed Q_v_attn_check_1
5993020a5f49420001caf86b : R_3Oo8Oq6YCoeGOZt failed Q_v_attn_check_1
5e29c3e725dcfd01cef9f474 : R_vN2VUAo6ufWzh8B failed Q_v_attn_check_1
580cab86b869700001d71628 : R_STbp9SpQia9R7Gh failed Q_v_attn_check_1
61647caff869db29c54fde2b : R_3PjKdGYzpmYIupf failed Q_v_attn_check_1
5dd5ff2080123f5afc05fe82 : R_1k2oBm3sWSqaN7R failed Q_v_attn_check_1
5e1f662de37cd92970aa3d9a : R_1MVXgpp2Lm122b9 failed Q_v_attn_check_1
6237ca974050879378c8fea8 : R_3HwgitppH7YHXT0 failed Q_v_attn_check_1
5dd8829941afe883821a94c4 : R_30w6bx7Y3nS2elZ failed Q_v_attn_check_1
6151c93f62e26ed6871a5fbd : R_2pXhhCwEw7uq04w failed Q_v_attn_check_1
5ff4df04eae543c810716ee6 : R_2sWSI6GfgEAK4vb failed Q_v_attn_check_1
1495/1598 respondents passed all attention checks

In [118]:
print('dropping responses from participants who failed any attention check')
df = df[df['passed_attn_checks']]
N = len(df)
print('N=%s' % N)

dropping responses from participants who failed any attention check
N=1495

Can now drop columns 'Finished' and 'PROLIFIC_PID' and columns corresponding to attention checks.

In [119]:
df = df.drop([
    'PROLIFIC_PID','Finished',
    'Q-attn-number-21',
    'Q_habits_attn_check',
    'Q_v_attn_check_1',
], axis=1)
df.head(3)

,Duration (in seconds),RecordedDate,ResponseId,Q_online_shopping,Q_takeout_food,Q_online_groceries,Q_v_0_why_no,Q_v_0_why_no_4_TEXT,Q_v_1,Q_v_1_why_no,...,Q_comments,STUDY_ID,online_shopping,takeout_food_delivery,online_groceries,prescription_medications_delivery,last_minute_groceries_delivery,liquor_store_delivery,questions_asked,passed_attn_checks
6,215,2022-09-12 09:25:01,R_3dNdOyEHwO3X5Tg,2,1,4,NaN,NaN,1,NaN,...,NaN,631f4adf9c7bc459e1650eb6,True,True,True,True,True,True,NaN,True
7,176,2022-09-12 09:29:21,R_1r7Zvnp6IL6dFXo,3,4,5,NaN,NaN,1,NaN,...,NaN,631f4adf9c7bc459e1650eb7,True,True,False,True,False,True,NaN,True
8,358,2022-09-12 09:29:38,R_1JIXl9IZdC0IxJt,2,4,4,NaN,NaN,3,NaN,...,NaN,631f4adf9c7bc459e1650eb7,True,True,True,True,True,True,NaN,True

How long did the survey take people on average?

(in minutes)
Use Median (50%) because there were outliers that took a while.

In [120]:
(df['Duration (in seconds)'].astype(int).describe()/60).rename('minutes')

count    24.916667
mean      5.205875
std       3.340757
min       1.066667
25%       3.316667
50%       4.350000
75%       5.900000
max      29.200000
Name: minutes, dtype: float64

Save cleaned data to file.

In [121]:
print('saving data (N=%s) to %s...' % (len(df),cleaned_data_filepath))
df.to_csv(cleaned_data_filepath, index=False)
print('...saved')

saving data (N=1495) to ../data/sample-preprocessed.csv...
...saved

In [122]:
# reading from file
clean_df = pd.read_csv(cleaned_data_filepath)
print('N=%s responses' % len(clean_df))
clean_df.head(3)

N=1495 responses

,Duration (in seconds),RecordedDate,ResponseId,Q_online_shopping,Q_takeout_food,Q_online_groceries,Q_v_0_why_no,Q_v_0_why_no_4_TEXT,Q_v_1,Q_v_1_why_no,...,Q_comments,STUDY_ID,online_shopping,takeout_food_delivery,online_groceries,prescription_medications_delivery,last_minute_groceries_delivery,liquor_store_delivery,questions_asked,passed_attn_checks
0,215,2022-09-12 09:25:01,R_3dNdOyEHwO3X5Tg,2,1,4,NaN,NaN,1,NaN,...,NaN,631f4adf9c7bc459e1650eb6,True,True,True,True,True,True,NaN,True
1,176,2022-09-12 09:29:21,R_1r7Zvnp6IL6dFXo,3,4,5,NaN,NaN,1,NaN,...,NaN,631f4adf9c7bc459e1650eb7,True,True,False,True,False,True,NaN,True
2,358,2022-09-12 09:29:38,R_1JIXl9IZdC0IxJt,2,4,4,NaN,NaN,3,NaN,...,NaN,631f4adf9c7bc459e1650eb7,True,True,True,True,True,True,NaN,True